* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100px;
  width: 150px;
} */

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.radio-buttons > label {
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
}